body{
    margin: 0;
    background-color: #dddddd;
    padding: 0;
}
.container{
    width: 1300px;
    height: 650px;
    background-color: blueviolet;
    margin: 25px;
    display: flex;
}
.container{
    padding-left: 140px;
    line-height: 1;
    padding-top: 40px;
}
.container1{
    margin-top: 60px;
}

.parents{
    width: 800px;
    height: 600px;
    background-color: white;
    margin-left: 200px;
}
.child2{
    width: 800px;
    height: 250px;
    background-color: rgb(51, 37, 37);
}
.child2 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 760px;
    height: 30px;
    background-color: gray;
    margin-top: 0px;
}
.child2 ul li{
    color: white;
    padding-top: 3px;
}
img{
    width: 280px;
    height: 250px;
    border-radius: 50%;
    margin-left: 20px;
}
.child3{
    display: flex;

}
.child4{
    width: 400px;
    margin-left: 35px;
}
.child5{
    margin-top: 60px;
    margin-left: 30px;
    text-align: justify;
}
.child6{
   display: flex;
   justify-content: space-around;
   width: 800px;
   height: 200px;
   background-color:rgb(51, 37, 37) ;
}
.a{
    width: 200px;
    height: 173px;
    background-color: blueviolet;
    margin-top: 13px;
    text-align: center;
    color: white;
}
.b{
    width: 200px;
    height: 173px;
    background-color: blueviolet;
    margin-top: 13px;
    text-align: center;
    color: white;
}
.c{
    width: 200px;
    height: 173px;
    background-color: blueviolet;
    margin-top: 13px;
    text-align: center;
    color: white;
}
span:hover a{
    color: white;
}
span{
    color: red;
    font-size: 25px;
}
#one{
    margin-top: 50px;
}
.container1:hover{
    color: white;
}
.child2 ul li:hover{
    color:rgb(51, 37, 37);
}